@font-face{
  font-family: 'creepshow';
  src: url('fonts/Creepshow.ttf');
}

@font-face{
  font-family: 'northwood-high';
  src: url('fonts/Northwood High.ttf');
}

html{
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  background-color: #282828;
  height: 100%;
  width: 100%;
}

.content{
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

h2{
  text-shadow: 2px 2px 2px black;
}

.brand-logo{
  text-shadow: 2px 2px 2px black;
  font-family: creepshow;
}

.menu-item{
  text-shadow: 2px 2px 2px black;
  font-family: creepshow;
  padding-right: 5px;
  height: 64px;
}

#connected{
  height: 64px;
  cursor: pointer;
}

#action_box{
  z-index: 100;
  position: absolute;
  right: 0;
  background-color: #585858;
  width: 250px;
  text-align: center;
}

.connexion_box{
  margin-top: 64px;
}

#action_box .input-field{
  margin-left: 5%;
  margin-right: 5%;
}

#action_box .menu-item{
  width: 100%;
}

.inscription{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  height: 515px;
}

.input-field{
  width: 90%;
}

.galerie{
  float: left;
  width: 420px;
}

.profile_pictures{
  float: left;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.headerProfilePictures{
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  margin-right: 7px;
  margin-top: 7px;
}

.selected{
  border-color: #1E90FF !important;
}

.formulaire_inscription{
  margin-left: 420px;
}

#login, #pwd, #pwd2, #nbJoueurs, #nom{
  color: white;
}

/** Carte **/
.carte{
  background-size: 100%;
  width: 187px;
  height: 251px;
  padding: 0;
  margin: 0 5px 5px 0;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  border-radius: 5%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  bottom: 0;
}

.carte:hover{
  cursor: pointer;
}

.rang{
  background-image: url('../img/rang.png');
  margin-left: -5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
}

.rang h2{
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
  font weight: bold;
  color: black;
  text-shadow: 2px 2px 2px white;
  font-family: northwood-high;
}

.nom{
  margin-top: 5px;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
  font-family: creepshow;
}

.effet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 130px;
  height: 66px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  font-size: 10px;
  text-shadow: 2px 2px 2px white;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

.salon{
  height: 550px;
  padding-top: 10px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.game_list{
  float: left;
  padding-top: 10px;
  height: 550px;
  width: 60%;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.games{
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 400px;
  overflow: auto;
}

.salon_list{
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  background-color: #727272;
  text-shadow: 2px 2px 2px black;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  height: 64px;
  line-height: 64px;
  padding-left: 5px;
  cursor: pointer;
}

.salon_list.selected{
  background-color: #565656;
}

.create_game{
  padding-top: 10px;
  width: 39%;
  margin-left: 61%;
  height: 550px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.create_game .input-field{
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
}

.create_game button{
  margin-top: 20px;
}

.title{
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: #545454;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.create_game .title{
  margin-bottom: 40px;
}

.participant{
  color: white;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  background-color: #727272;
  text-shadow: 2px 2px 2px black;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  height: 64px;
  line-height: 64px;
  padding-left: 5px;
}

.participant img{
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

#retour{
  margin-left: 10px;
}

#refresh{
  position: absolute;
  margin-top: -53px;
  left: 48%;
}

#start{
  margin-left: 20px;
}

.main .carte{
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}

.main_user{
  position: absolute;
  top: 580px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  height: 253px;
  width: 80%;
}

.main_user .carte:hover{
    margin-top: -400px;
}

.main_top{
  z-index: -1;
  top: -110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 60%;
  height: 200px;
}

.main_left{
  z-index: -1;
  top: 237px;
  left: -320px;
  position: absolute;
  text-align: center;
  width: 500px;
  height: 200px;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* Internet Explorer */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari et Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

.main_right{
  z-index: -1;
  top: 237px;
  right: -320px;
  position: absolute;
  text-align: center;
  width: 500px;
  height: 200px;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* Internet Explorer */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari et Chrome */
  -o-transform:rotate(-90deg); /* Opera */
}

.terrain_top{
  top: 100px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.terrain_user{
  bottom: 67px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.terrain_right{
  position: absolute;
  text-align: center;
  height: 200px;
  bottom: 20px;
  width: 450px;
  right: -80px;
  bottom: 200px;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* Internet Explorer */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari et Chrome */
  -o-transform:rotate(-90deg); /* Opera */
}

.terrain_left{
  position: absolute;
  text-align: center;
  height: 200px;
  bottom: 20px;
  width: 450px;
  left: -80px;
  bottom: 200px;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* Internet Explorer */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari et Chrome */
  -o-transform:rotate(90deg); /* Opera */
}

#jouer{
  position: absolute;
  left: 0;
  right: 0;
  width: 122px;
  margin: 0 auto;
  top: 317px;
}

#pioche{
  position: absolute;
  bottom: 30px;
  right: 40px;
}

/** Mini-carte **/
.main:not(.main_user)>.carte{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 149px;
  height: 200px;
}

.terrain .carte{
  background-size: 100%;
  width: 149px;
  height: 200px;
  padding: 0;
  margin: 0 5px 5px 0;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  border-radius: 5%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  bottom: 0;
}

.terrain .rang{
  background-image: url('../img/rang.png');
  margin-left: -5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
}

.terrain .rang h2{
  margin-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  font weight: bold;
  color: black;
  text-shadow: 2px 2px 2px white;
  font-family: northwood-high;
}

.terrain .nom{
  margin-top: 5px;
  text-align: center;
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
  font-family: creepshow;
}

.terrain .effet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 105px;
  height: 53px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  font-size: 8px;
  text-shadow: 2px 2px 2px white;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

.defausse_manche{
  position: absolute !important;
  left: 350px;
  right: 0;
  width: 122px;
  margin: 0 auto;
  top: 317px;
}

.defausse_top{
  position: absolute !important;
  width: 122px;
  top: 80px;
  right: 10%;
}

.defausse_right{
  position: absolute !important;
  width: 122px;
  bottom: 80px;
  right: 40px;
}

.defausse_left{
  position: absolute !important;
  width: 122px;
  bottom: 90px;
}

.defausse_user{
  position: absolute !important;
  width: 122px;
  bottom: 20px;
  left: 10%;
}

.score_user{
  position: absolute;
  bottom: 10px;
}

.score_top{
  position: absolute;
  top: 100px;
  left: 15%;
}

.score_left{
  position: absolute;
  top: 100px;
}

.score_right{
  position: absolute;
  top: 100px;
  right: 20px;
}

.pseudo{
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  color: white;
}

.pseudo_top{
  position: absolute;
  top: 70px;
  left: 15%;
}

.pseudo_left{
  position: absolute;
  top: 70px;
  left: 10px;
}

.pseudo_right{
  position: absolute;
  top: 70px;
  right: 10px;
}

.pseudo_user{
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.overlay_defausse{
  position: absolute;
  z-index: 1000;
  display: none;
  padding-top: 50px;
  padding-left: 10px;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 910px;
  height: 600px;
  background-color: #353535;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

.score{
  z-index: 500;
  color: white;
  background-color: #757575;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
  border-radius: 10px;
  text-shadow: 2px 2px 2px black;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

#close_overlay{
  position: absolute;
  top: 8px;
}
